github "openid/AppAuth-iOS" "master"
github "onevcat/Kingfisher" "master"
github "jedisct1/swift-sodium" "master"
github "sparkle-project/Sparkle" "master"
github "ashleymills/Reachability.swift" "master"
